/* .faqs{
    background-image: url(./assets/nutrition.jpg);
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
} */



.faqs-title{
    font-size: 40px;
    color: rgb(83, 211, 9);
}

.faqs-content{
    font-size: 20px;

}
.faqs-answers{
    font-size: 15px;

}

